* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

ul,
ol,
menu {
  list-style: none;
}

img {
  width: 100%;
}

figure > img {
  display: block;
}

a {
  text-decoration: none;
  color: currentColor;
  display: inline-block;
}

/* PALETTE COLORS */

:root {
  --blue: #0084fd;
  --light-blue: #b5ddff;
  --purple: #9792e4;
  --yellow: #fdc15f;
  --dark-gray: #333333;
  --light: #ffffff;
}

/* LAYOUT */

.container {
  margin: 0 auto;
  max-width: 1140px;
}

.container-medium {
  margin: 0 auto;
  max-width: 1050px;
}

.container-small {
  margin: 0 auto;
  max-width: 650px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-4 {
  flex-basis: calc((100% / 12) * 4);
}

.col-6 {
  flex-basis: calc((100% / 12) * 6);
}

.col-8 {
  flex-basis: calc((100% / 12) * 8);
}

[class^="col"] {
  padding: 12px;
}

/* UTILITY CLASSES */

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.text-center {
  text-align: center;
}

.flex-end {
  align-self: flex-end;
}

.bg-lightblue {
  background-color: var(--light-blue);
}

.bg-purple {
  background-color: var(--purple);
}

.bg-white {
  background-color: var(--light);
}

.no-padding {
  padding: 0;
}

.padding-bottom {
  padding-bottom: 30px;
}

.no-wrap {
  flex-wrap: nowrap;
}

.white {
  color: white;
}

.text_purple {
  color: var(--purple);
}

/* COMPONENT CLASSES */

.button {
  color: black;
  line-height: 40px;
  text-align: center;
  border-radius: 20px;
  padding: 0 18px;
}

.top-text {
  color: rgba(205, 205, 205, 0.711);
}

/* HEADER */

.page-header {
  background-color: var(--blue);
  padding: 15px;
}

.navbar-list {
  display: flex;
  gap: 22px;
}

.navbar-list_item {
  color: white;
}

.ham-menu {
  color: white;
  display: none;
}

/* HERO */

.hero {
  padding: 50px;
}

.card {
  display: flex;
  border-radius: 20px;
  height: 100%;
}

.hero_img {
  width: 250px;
  display: flex;
}

.container-img {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.hero_title {
  color: var(--blue);
  padding: 20px;
}

.hero_p {
  font-weight: 700;
  line-height: 30px;
  padding: 20px;
  color: rgba(90, 89, 89, 0.763);
}

.hero_button {
  background-color: var(--blue);
  color: white;
  margin: 20px 50px 20px 10px;
}

.icon {
  width: 100%;
  font-size: 80px;
  padding: 10px;
  color: var(--blue);
}

/* MAIN */

/* STRATEGIC PLANNING */

.strategic-planning > .row {
  padding: 50px;
}

.strategic_img {
  margin-bottom: 100px;
}

.strat_title {
  padding-bottom: 50px;
  font-size: 30px;
}

.strat_p {
  line-height: 30px;
}

/* APP DEVELOPMENT */

.app-development {
  border-radius: 50px;
}

.app_img {
  width: 250px;
  justify-content: center;
}

.app_title {
  padding-bottom: 20px;
}

.app_p {
  font-style: italic;
}

.arrow {
  margin: 45px 0;
}

.arrow > span {
  padding: 10px 20px;
  font-size: 25px;
  border-radius: 50%;
}

/* TESTIMONIALS */

.testimonials_header {
  padding: 30px;
}

.testimonial_img {
  width: 200px;
}

.testimonial_img > img {
  border-radius: 50%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.testimonial_content {
  border-radius: 50px;
}

.quote_text {
  padding: 20px;
  font-size: 20px;
}

.quote_testimonial {
  padding: 20px;
  font-size: 20px;
}

/* BENEFITS */

.benefits_title {
  font-size: 40px;
  padding: 40px 0;
}

.benefits_card {
  border-radius: 20px;
  padding: 30px;
}

.benefits_number {
  font-size: 80px;
}

.benefits_name {
  font-size: 20px;
  padding-bottom: 20px;
}

.benefits_text {
  line-height: 30px;
  padding-bottom: 20px;
}

.benefits_button {
  padding: 0 40px;
  display: inline-block;
}

/* ABOUT */

.about {
  padding: 40px;
}

.about_title {
  font-size: 50px;
  padding-bottom: 20px;
}

.about_p {
  font-size: 20px;
  padding-bottom: 30px;
  line-height: 45px;
}

.about_img {
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
  position: relative;
}

.about_img > img {
  border-radius: 50%;
  aspect-ratio: 1/1;
  object-fit: cover;
  width: 250px;
}

.about .col-4 {
  padding: 30px;
}

.about_p--help {
  font-size: 25px;
  padding-bottom: 20px;
}

.about_quote {
  position: absolute;
  right: 0;
  font-size: 100px;
}

/* CALL TO ACTION */

.cta_title {
  font-size: 3em;
}

.cta_free {
  color: var(--yellow);
  font-size: 5em;
  font-weight: 600;
  padding-bottom: 20px;
}

.cta_text {
  padding-bottom: 25px;
}

.cta_button {
  display: inline-block;
  padding: 20px 120px;
  border-radius: 50px;
}

/* DEBUG */

.debug .container,
.debug .container-medium,
.debug .container-small {
  border: 1px solid aqua;
  padding: 10px;
}

.debug .row {
  border: 1px solid black;
  padding: 10px;
}

.debug [class^="col"] {
  border: 1px solid cadetblue;
  padding: 10px;
}

.debug .card {
  border: 1px orange solid;
}

.debug .app-development {
  border: 1px hotpink solid;
}

/* RESPONSIVE */

@media (max-width: 768px) {
  /* HEADER */

  .container {
    width: 100%;
  }

  .navbar-list {
    display: none;
  }

  .ham-menu {
    display: block;
  }

  /* HERO */

  .card {
    flex-direction: column;
  }

  .container-img {
    display: block;
  }

  .hero_button {
    margin: 20px 100px 20px 10px;
  }

  /* MAIN */

  /* STRATEGIC PLANNING */

  .strategic-planning > .row {
    flex-direction: column;
  }

  .strat_title {
    font-size: 60px;
  }

  /* APP DEVELOPMENT */

  .app_img {
    width: 100%;
  }

  /* BENEFITS */

  .benefits .col-4 {
    flex-basis: 50%;
  }

  /* ABOUT */

  .about .col-8, .about .col-4 {
    flex-basis: 50%;
  }
}

@media (max-width: 576px) {
  /* HEADER */

  .container {
    width: 100%;
  }

  .col-12 {
    flex-basis: calc((100% / 12) * 12);
  }

  /* MAIN */

  /* STRATEGIC PLANNING */

  .strat_title {
    font-size: 40px;
  }

  /* TESTIMONIAL */

  .wrap {
    flex-wrap: wrap;
  }

  .testimonial_content {
    justify-content: center;
  }

  .quote {
    text-align: center;
  }

  /* BENEFITS */

  .benefits .col-4 {
    flex-basis: 100%;
  }

  /* ABOUT */

  .about .col-8 {
    flex-basis: 100%;
  }
}
